<div dir="rtl">
  <mat-toolbar  color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" tabindex="-1">
      <mat-icon>menu</mat-icon>
    </button>
    <span>سامانه حضور غیاب کارمندان</span>
    <span fxFlex></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialog()" >
        <mat-icon>power_settings_new</mat-icon>
        <span> خروج از حساب کاربری</span>
    </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-container" dir="rtl">
    <mat-sidenav mode="side" #sidenav position="start">
      <mat-nav-list fxLayout="column" fxLayoutGap="10px" [style.padding.px]="15">
        <mat-list-item [routerLink]="['/employee/attendance']">
              <mat-icon>how_to_reg</mat-icon>
              لیست حضور و غیاب
        </mat-list-item>
        <mat-list-item [routerLink]="['/employee/employeeList']">
              <mat-icon>account_box</mat-icon>
              لیست کارمندان ثبت شده
        </mat-list-item>
        <mat-list-item [routerLink]="['/employee/archive']">
              <mat-icon>supervisor_account</mat-icon>
              لیست کارمندان آرشیو شده
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content> <router-outlet></router-outlet> </mat-sidenav-content>
  </mat-sidenav-container>
</div>
