
.mat-drawer-container {
  height: 100%;
}

.full-width {
  width: 100%;
}
table[mat-table] {
  width: 100%;
}

th[mat-header-cell]:nth-child(1) {
  width: 5%;
}
th[mat-header-cell]:nth-child(2) {
  width: 5%;
}
th[mat-header-cell]:nth-child(3) {
  width: 15%;
}
th[mat-header-cell]:nth-child(4) {
  width: 10%;
}
th[mat-header-cell]:nth-child(5) {
  width: 10%;
}
th[mat-header-cell]:nth-child(6) {
  width: 10%;
}
th[mat-header-cell]:nth-child(7) {
  width: 20%;
}
th[mat-header-cell]:nth-child(8) {
  width: 25%;
}

.employees-container {
  position: relative;
  min-height: calc(100vh - 260px);
  overflow: auto;
}

.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opration{
  min-width: 95px;
}
