mat-form-field.mat-form-field {
	line-height: 1.3;
}

mat-form-field button[matSuffix] {
	font-size: 18px !important;
}

mat-form-field.full-width {
    width: 100%;
}

mat-form-field.half-width {
    width: 50%;
}

.full-width > mat-form-field.mat-form-field {
    width: 100%;
}

mat-form-field.auto-width .mat-form-field-infix,
mat-form-field.full-width .mat-form-field-infix,
.full-width > mat-form-field.mat-form-field .mat-form-field-infix {
	width: auto;
}
.pt-40px {
	padding-top: 40px;
}
.pl-10px {
	padding-left: 10px;
}


