<div class="mat-title" [style.padding.px]="30">ثبت نام</div>

<h4 *ngIf="isRegistered === true">ثبت نام با موفقیت انجام شد.</h4>
<h4 class="error" *ngIf="isRegistered === false">
  ثبت نام قبلا انجام شده است.
</h4>

<form fxLayout="column" #employeeRegisterForm [formGroup]="form">
  <mat-form-field appearance="standard">
    <mat-label>نام و نام خانوادگی </mat-label>
    <input
      matInput
      placeholder="نام ونام خانوادگی"
      formControlName="fullname"
      type="text"
      tabindex="1"
      required
      autofocus
      [ngClass]="{ error: fullname.hasError('required') && fullname.touched }"
    />
  </mat-form-field>
  <p
    class="showError"
    *ngIf="fullname.hasError('required') && fullname.touched"
  >
    نام کاربری را وارد نمایید.
  </p>
  <mat-form-field>
    <mat-label>کد ملی </mat-label>
    <input
      matInput
      placeholder="کد ملی"
      formControlName="nationalCode"
      type="number"
      tabindex="2"
      required
    />
  </mat-form-field>
  <p
    class="showError"
    *ngIf="!form.get('nationalCode').valid && form.get('nationalCode').touched"
  >
    کد ملی را وارد نمایید.
  </p>
  <mat-form-field appearance="standard">
    <mat-label>شماره همراه </mat-label>
    <input
      matInput
      placeholder="شماره همراه"
      formControlName="mobileNumber"
      type="text"
      tabindex="3"
      required
    />
  </mat-form-field>
  <p
    class="showError"
    *ngIf="!form.get('mobileNumber').valid && form.get('mobileNumber').touched"
  >
     شماره همراه را وارد نمایید.
  </p>
  <mat-form-field appearance="standard">
    <mat-label>آدرس </mat-label>
    <input
      matInput
      placeholder="آدرس"
      formControlName="address"
      type="text"
      tabindex="4"
      required
    />
  </mat-form-field>
  <p
    class="showError"
    *ngIf="!form.get('address').valid && form.get('address').touched"
  >
    آدرس را وارد نمایید.
  </p>
  <div
    fxLayout="row"
    fxLayoutAlign="center start"
    fxLayoutGap="10px"
    [style.padding.px]="50"
  >
    <button type="submit" mat-raised-button color="primary" (click)="save()">
      ثبت
    </button>
    <button type="button" mat-raised-button color="warn" (click)="cancel()">
      انصراف
    </button>
  </div>
</form>
