<div class="mat-title" [style.padding.px]="30">ثبت نام</div>

<h4 *ngIf="isRegistered === true">ثبت نام با موفقیت انجام شد.</h4>
<h4 class="error" *ngIf="isRegistered === false">
  ثبت نام قبلا انجام شده است.
</h4>

<form #employeeRegisterForm [formGroup]="form">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-form-field appearance="outline">
      <mat-label>نام کاربری</mat-label>
      <input
        matInput
        formControlName="username"
        placeholder="نام کاربری"
        type="text"
        tabindex="1"
        required
        autofocus
        [ngClass]="{ error: username.hasError('required') && username.touched }"
      />
    </mat-form-field>
    <p *ngIf="username.hasError('required') && username.touched">
     نام کاربری را وارد نمایید.
    </p>

    <mat-form-field appearance="outline">
      <mat-label>نام و نام خانوادگی </mat-label>
      <input matInput placeholder="نام ونام خانوادگی" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>کد ملی </mat-label>
      <input matInput placeholder="کد ملی" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>شماره همراه </mat-label>
      <input matInput placeholder="شماره همراه" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>آدرس </mat-label>
      <input matInput placeholder="آدرس" />
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px" [style.padding.px]="50" >
    <button type="submit" mat-raised-button color="primary" (click)="save()">
      ثبت
    </button>
    <button type="button" mat-raised-button color="warn" (click)="cancel()">
      انصراف
    </button>
  </div>
</form>
